<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Pacifico&family=Quicksand:wght@300;400&display=swap" rel="stylesheet">

<div class="title-div">
  <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
    <label>
      <h1>Add your items:</h1>
      <input class="text-area" type="text" formControlName="itemName">
    </label>
    <button class="button" type="submit" [disabled]="!itemForm.valid">Submit</button>
    <input class="button" type="submit" onclick="window.location.reload()" value="Refresh"/>
  </form>

</div>

<ol>
  <li *ngFor='let item of items'>
    {{ item }}
  </li>
</ol>
