.button {
  margin-left: 5px;
  transition: 3s;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button:hover {
  transform: scale(1.08);
  transition: 1.5s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;

}

.title-div {
  width: 100%;
  opacity: 90%;
  background: lightgray;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 45px;
  color: #9b5f71;
  text-align: center;
  transition: 0.5s;
}

h1:hover {
  color: #fdfaf4;
  transition: 0.5s;
  cursor: cell;
}

body {
  background-image: url("https://www.rei.com/dam/camping-checklist-lg1.jpg");
  color: #fcf4ec;
  font-size: 30px;
  font-family: 'Comfortaa', cursive;
}

.text-area {
  border-radius: 5px;
  background: #fdfaf4;
  padding: 7px 10px;
  transition: 1s;
  margin-bottom: 30px;
}

.text-area:focus {
  transition: 0.5s;
  transform: scale(1.02);
}

